table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-title {
    margin-top: 30px;
}

.repository-link {
    margin: 10px 0 30px 0;
    color: #000;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: .5s;
}

.repository-link:hover {
    border-bottom: 2px solid #000;
}

.inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contact-table {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 560px;
}

.error-hint {
    height: 30px;
    margin: 5px 0 15px 0;
}

.error-hint .error {
    background: #dd6060;
    padding: 5px 10px;
    border: 2px solid #000;
    border-radius: 5px;
    opacity: 0;
    height: 20px;
    transition: .5s;
    cursor: default;
}

.error-hint .error_active {
    opacity: 1;
    cursor: text;
}

.column__element {
    width: 250px;
}

.element__letter {
    border-top: 1px solid #c07777;
    padding: 10px 0 10px 10px;
    font-weight: bold;
    background: #ffc4c4;
}

.element__letter_active {
    background: #fad2d2;
}

.element__letter:last-child {
    border-bottom: 1px solid #c07777;
}

.search-popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}

.search-popup__item {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
}

#closeModalBtn {
    color: red;
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.edit-popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}


/* 
.js-search-popup popup {
    display: none;
}

.search-popup__text {
    width: 650px;
    height: 500px;
    background: #F6F6F6;
    z-index: -1;
    position: fixed;
    top: 30vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 5px;
    opacity: 0;
    transition: .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.search-popup__text_active {
    z-index: 10;
    opacity: 1;
    transition: .5s;
}

.search-popup__text h1 {
    margin-top: 20px;
}

.search-popup__input {
    font-size: 18px;
    margin: 20px 0;
    width: 86%;
    height: 30px;
    padding: 5px 10px 0 10px;
    border: 2px solid #aaaaaa;
    transition: .3s;
}

.search-popup__input:hover {
    border: 2px solid #ffd4d4;
}

.search-popup__input:focus {
    border: 2px solid #fcaaaa;
    background: #fff;
}

.search-popup__output {
    background: #fff;
    height: 70%;
    width: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}

.search-popup__close {
    position: absolute;
    top: 2%;
    left: 95%;
    transition: .2s;
}

.search-popup__close:hover {
    color: #FF0000;
}

.search-popup__bg {
    width: 0px;
    height: 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -5;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity .5s;
}

.search-popup__bg_active {
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 5;
}

.search-popup__show-all {
    height: 30px;
    width: 100px;
    background: #fff;
    padding: 0;
    border: 2px solid #c07777;
    border-radius: 10px;
    font-weight: bold;
    transition: .5s;
    margin: 10px 0;
    font-size: 15px;
}

.search-popup__show-all:hover {
    background: #c07777;
    border: 2px solid #fff;
    color: #fff;
}

.fa-edit {
    position: absolute;
    top: 40%;
    left: 80%;
    transition: .2s;
}

.fa-edit:hover {
    color: #FF0000;
}

.edit-popup__text {
    width: 300px;
    height: 200px;
    background: #F6F6F6;
    border: 2px solid black;
    z-index: -1;
    position: fixed;
    top: 40vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 5px;
    opacity: 0;
    transition: .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edit-popup__text_active {
    z-index: 15;
    opacity: 1;
}

.edit-popup h1 {
    font-size: 25px;
    margin: 10px 0;
}

.edit-popup__close {
    position: absolute;
    top: 3%;
    left: 91%;
    transition: .2s;
}

.edit-popup__close:hover {
    color: #FF0000;
}

.edit-popup__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edit-popup__inputs__item {
    padding-left: 5px;
    font-size: 16px;
    margin: 5px;
    transition: .5s;
    width: 250px;
}

.edit-popup__inputs__item_active {
    background: #ffe489;
    border: 2px solid #ff0000;
}

.edit-popup__inputs__submit {
    height: 30px;
    width: 100px;
    background: #fff;
    padding: 0;
    border: 2px solid #c07777;
    border-radius: 10px;
    font-weight: bold;
    transition: .5s;
}

.edit-popup__inputs__submit:hover {
    background: #c07777;
    border: 2px solid #fff;
    color: #fff;
}

.edit-popup__bg {
    width: 0px;
    height: 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -5;
    opacity: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity .5s;
}

.edit-popup__bg_active {
    width: 100%;
    height: 100%;
    z-index: 12;
    opacity: 1;
} */