table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-title {
    margin-top: 30px;
}

.repository-link {
    margin: 10px 0 30px 0;
    color: #000;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: .5s;
}

.repository-link:hover {
    border-bottom: 2px solid #000;
}

.inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contact-table {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 560px;
}

.error-hint {
    height: 30px;
    margin: 5px 0 15px 0;
}

.error-hint .error {
    background: #dd6060;
    padding: 5px 10px;
    border: 2px solid #000;
    border-radius: 5px;
    opacity: 0;
    height: 20px;
    transition: .5s;
    cursor: default;
}

.error-hint .error_active {
    opacity: 1;
    cursor: text;
}

.column__element {
    width: 250px;
}

.element__letter {
    border-top: 1px solid #c07777;
    padding: 10px 0 10px 10px;
    font-weight: bold;
    background: #ffc4c4;
}

.element__letter_active {
    background: #fad2d2;
}

.element__letter:last-child {
    border-bottom: 1px solid #c07777;
}

.search-popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}

.search-popup__item {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
}

#closeModalBtn {
    color: red;
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.edit-popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}